In [1]:
import pandas as pd

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [11]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [14]:
y+1

Period('2017', 'A-DEC')

In [12]:
m = pd.Period('2011-1', freq='M')
m

Period('2011-01', 'M')

In [13]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [9]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [10]:
m+1

Period('2011-02', 'M')

In [20]:
d = pd.Period('2017-01-31', freq='D')
d

Period('2017-01-31', 'D')

In [21]:
d+1

Period('2017-02-01', 'D')

In [26]:
h = pd.Period('2017-01-31 13:00', freq='H')
h

Period('2017-01-31 13:00', 'H')

In [27]:
h+1

Period('2017-01-31 14:00', 'H')

In [28]:
h+pd.offsets.Hour(4)

Period('2017-01-31 17:00', 'H')

quarterly period

In [29]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [30]:
q+1

Period('2017Q2', 'Q-DEC')

In [32]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

create custom fiscal year from feb-jan

In [33]:
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [34]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [36]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [38]:
temp=q+3
temp.end_time

Timestamp('2017-01-31 23:59:59.999999999')

change freqency

In [41]:
q.asfreq('M')

Period('2016-04', 'M')

In [40]:
q.asfreq('M',how='start')

Period('2016-02', 'M')

In [39]:
q.asfreq('M',how='end')

Period('2016-04', 'M')

In [43]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [44]:
q2-q

create period index

In [52]:
idx = pd.period_range('2011','2015',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1'],
            dtype='period[Q-DEC]')

In [53]:
idx = pd.period_range('2011',periods=10,freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]')

In [54]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q1    1.653940
2011Q2    0.629656
2011Q3    0.041403
2011Q4    0.258115
2012Q1    0.926969
2012Q2   -0.783431
2012Q3    0.471234
2012Q4    0.426680
2013Q1   -0.243571
2013Q2    0.977713
Freq: Q-DEC, dtype: float64

In [55]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]')

In [56]:
ps['2011']

2011Q1    1.653940
2011Q2    0.629656
2011Q3    0.041403
2011Q4    0.258115
Freq: Q-DEC, dtype: float64

In [57]:
ps['2011':'2012']

2011Q1    1.653940
2011Q2    0.629656
2011Q3    0.041403
2011Q4    0.258115
2012Q1    0.926969
2012Q2   -0.783431
2012Q3    0.471234
2012Q4    0.426680
Freq: Q-DEC, dtype: float64

convert to datetime index

In [62]:
pst=ps.to_timestamp()
pst

2011-01-01    1.653940
2011-04-01    0.629656
2011-07-01    0.041403
2011-10-01    0.258115
2012-01-01    0.926969
2012-04-01   -0.783431
2012-07-01    0.471234
2012-10-01    0.426680
2013-01-01   -0.243571
2013-04-01    0.977713
Freq: QS-OCT, dtype: float64

In [63]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [67]:
pst.to_period()

2011Q1    1.653940
2011Q2    0.629656
2011Q3    0.041403
2011Q4    0.258115
2012Q1    0.926969
2012Q2   -0.783431
2012Q3    0.471234
2012Q4    0.426680
2013Q1   -0.243571
2013Q2    0.977713
Freq: Q-DEC, dtype: float64

In [68]:
pst.to_period(freq='M')

2011-01    1.653940
2011-04    0.629656
2011-07    0.041403
2011-10    0.258115
2012-01    0.926969
2012-04   -0.783431
2012-07    0.471234
2012-10    0.426680
2013-01   -0.243571
2013-04    0.977713
Freq: M, dtype: float64

In [74]:
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [75]:
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [76]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [77]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [79]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [80]:
df['Start Date'] = df.index.map(lambda x : x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [81]:
df['End Date'] = df.index.map(lambda x : x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999